/*
 * Sample Application Flow OAuth2 Project
 *
 * This is an example of using OAuth2 Application Flow in a specification to describe security to your API.
 *
 * OpenAPI spec version: 0.0.2
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class DefaultApiController : Controller
    { 

        /// <summary>
        /// Server example operation
        /// </summary>
        /// <remarks>This is an example opeartion to show how security is applied to the call.</remarks>
        /// <response code="200">OK</response>
        [HttpGet]
        [Route("/bkwdesign/bkwdesign_oauth_app/1.0.0/example")]
        [SwaggerOperation("ExampleGet")]
        public virtual void ExampleGet()
        { 
            throw new NotImplementedException();
        }


        /// <summary>
        /// Server example operation 2b
        /// </summary>
        /// <remarks>This is an example opeartion to show how security is applied to the call.</remarks>
        /// <response code="200">OK</response>
        [HttpGet]
        [Route("/bkwdesign/bkwdesign_oauth_app/1.0.0/monkeys")]
        [SwaggerOperation("MonkeysGet")]
        [SwaggerResponse(200, type: typeof(InlineResponse200))]
        public virtual IActionResult MonkeysGet()
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<InlineResponse200>(exampleJson)
            : default(InlineResponse200);
            return new ObjectResult(example);
        }


        /// <summary>
        /// Server heartbeat operation
        /// </summary>
        /// <remarks>This operation shows how to override the global security defined above, as we want to open it up for all users.</remarks>
        /// <response code="200">OK</response>
        [HttpGet]
        [Route("/bkwdesign/bkwdesign_oauth_app/1.0.0/ping")]
        [SwaggerOperation("PingGet")]
        public virtual void PingGet()
        { 
            throw new NotImplementedException();
        }
    }
}
